body {
  background-color: black;
  width: 100vw;
  height: 100vh;  
}
h1 {
  color: green;
}

h2 {
  color: red;
}

div {
  background-color: whitesmoke;
}

.container {
  background-color: beige;
  width: 100vw;
  height: 50vh;
}

#p1 {
  color: blue;
}
#p2 {
  color: cyan;
}

.text-center {
  text-align: center;
}